@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';

:root {
  --mantine-breakpoint-xs: 36em;
  --mantine-breakpoint-sm: 48em;
  --mantine-breakpoint-md: 62em;
  --mantine-breakpoint-lg: 75em;
  --mantine-breakpoint-xl: 88em;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--mantine-color-dark-8);
    color: var(--mantine-color-white);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}