.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mantine-spacing-xl);
}

.paper {
  position: relative;
  padding: var(--mantine-spacing-md);
}

.statTitle {
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
  margin-bottom: var(--mantine-spacing-md);
}

.statValue {
  font-size: var(--mantine-font-size-xl);
  font-weight: 700;
}

.statSubtext {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dimmed);
}

.statContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 