.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mantine-spacing-xl);
}

.paper {
  position: relative;
  padding: var(--mantine-spacing-md);
}

.userName {
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.userEmail {
  font-size: var(--mantine-font-size-sm);
}

.userRole {
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  color: var(--mantine-color-blue-6);
}

.userShop {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-6);
}

.tableRow {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.tableRow:hover {
  background-color: var(--mantine-color-gray-0);
} 